{% load static %}
<!DOCTYPE html5>
<html>
<head>
    <meta charset="UTF-8">
    <title>Gracie St.Pete Login</title>
    <script src="{% static '/login.js' %}" type="text/javascript"></script>
  
  
      <link rel="stylesheet" href="{% static '/login.css' %}">
  
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'>
  
</head>
<body>

{% if error %}
{{ error }}
<br />
<br />
{% endif %}

<form class="login" method="POST" action="{% url 'login' %}">
{% csrf_token %}
  <fieldset>

    <legend class="legend">Login</legend>

    <div class="input">
      <input type="text" placeholder="Username" name="username" required />
      <span><i class="fa fa-user"></i></span>
    </div>

    <div class="input">
      <input type="password" placeholder="Password" name="password" required />
      <span><i class="fa fa-lock"></i></span>
    </div>

    <button type="submit" class="submit"><i class="fa fa-long-arrow-right"></i></button>

  </fieldset>

  <div class="feedback">
    login successful <br />
    redirecting...
  </div>

</form>


</body>
</html>